.navbar-container {
    padding: var(--spacing-medium) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    filter: invert(17%) sepia(85%) saturate(4202%) hue-rotate(251deg) brightness(73%) contrast(147%);
    width: 160px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: var(--spacing-large);
    color: var(--main-color);
    font-size: 20px;
}

.navbar-container .active-page {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main-color);
}

.navbar-container li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.signup-button {
    background: transparent;
    font-size: var(--spacing-medium);
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: var(--spacing) var(--spacing-large);
    border-radius: 60px;
    transition: .2s;
}

.signup-button:hover {
    background: var(--main-color);
    color: var(--light-color);
}

.navbar-profile {
    position: relative;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    background-color: #f2f1ff;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--outremer);
    outline: 2px solid var(--light-color);
    list-style: none;
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    cursor: pointer;
    color: var(--dark-color);
}

.navbar-profile-dropdown li:hover {
    color: var(--main-color);
}

.navbar-profile-dropdown img {
    filter: invert(17%) sepia(85%) saturate(4202%) hue-rotate(251deg) brightness(73%) contrast(147%);
    width: 20px;
}

@media screen and (max-width: 1050px) {
    .navbar-container .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: var(--spacing-medium);
    }

    .navbar-right {
        gap: 28px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: var(--spacing) 24px;
    }
}

@media screen and (max-width: 900px) {
    .navbar-container .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 14px;
        font-size: var(--spacing-medium);
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: var(--spacing) 20px;
        font-size: var(--spacing-medium);
    }
}

@media screen and (max-width: 810px) {
    .navbar-menu {
        display: none;
    }

    .navbar-right {
        gap: 32px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-menu {
        display: none;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 16px;
    }

    .navbar-right button {
        font-size: 8px;
        padding: 4px 16px;
    }
}