.footer-container {
    color: var(--light-color);
    background-color: #061240;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 60px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-logo {
    filter: invert(13%) sepia(87%) saturate(5582%) hue-rotate(255deg) brightness(75%) contrast(138%);
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    list-style: none;
    margin-bottom: var(--spacing);
    cursor: pointer;
}

.footer-social-icons img {
    width: 40px;
    margin-right: var(--spacing-medium);
    cursor: pointer;
}

.footer-container hr {
    width: 100%;
    height: 2px;
    margin: var(--spacing-medium) 0;
    background-color: var(--light-color);
    border: none;
}

@media screen and (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .footer-content-left p{
        font-size: 14px;
        margin: var(--spacing-medium) 0;
    }

    .footer-copyright {
        text-align: center;
    }
}