.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing) 4%;
}

.navbar-container .logo {
    width: max(10%, 80px);
}

.navbar-container .profile {
    width: 40px;
}